numpy==1.15
nose-cov==1.6
coverage==4.4.1
requests==2.19.1
cbpro==1.1.2
python-binance==0.6.3
networkx==2.0
django==2.2.13
gunicorn==19.9.0
dj-database-url==0.5
psycopg2-binary==2.7.5
jsonfield==2.0
djangorestframework==3.9.1
redis==2.10.6
celery==4.2.1
urllib3>=1.23
